@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #EBECEE;
    --cor-secundaria: #01080E;
    --cor-terciaria: #B872FF;
    --cor-hover-titulo: #7C81AD;
    --cor-hover-botao: #393E46;

    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Poppins', sans-serif;
}

[data-contexto="foco"] {
    --main-bg-color: linear-gradient(180deg, #8B1FF8 0%, #041832 48.44%, #01080E 100%);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background: var(--main-bg-color);
}

@keyframes up {
    0% {
        scale: 0.8;
    }
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria); 
    cursor: default;
    background: url("./imagens/pattern.png") no-repeat;
    animation: up 1s;
}

.apresentacao__conteudo__caixa {
    animation: up 1s;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    text-decoration: underline;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.titulo-destaque:hover {
    color: var(--cor-hover-titulo);
    transition: all 500ms;
}

.apresentacao {
    padding: 4.7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao-about {
    padding: 4.9% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

#apresentacao__conteudo__titulo-curriculo {
    font-size: 1.875rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__text-curriculo {
    font-size: 1.4375rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__text {
    font-size: 1.475rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__subtitulo:hover {
    color: var(--cor-terciaria);
    transition: all 500ms;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px outset var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover-botao);
    transform: translateY(3px);
    transition: all 200ms ease;
}

.apresentacao__conteudo__certificados{
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao__imagem {
    width: 40%;
    border-radius: 40px;
}

.apresentacao__imagem-curriculo {
    width: 40%;
    border-radius: 40px;
}

.rodape {
    text-align: center;
    padding: 24px;
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-primaria);
}

#apresentacao__conteudo__titulo-curriculo:hover {
    color: var(--cor-terciaria);
    transition: 500ms;
}

#desenvolvedor:hover {
    color: var(--cor-hover-titulo);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: 500ms;
}

.top:hover {
    color: var(--cor-hover-titulo);
    transition: 300ms;
}

/* ================================ */

.cabecalho {
    background-color: var(--main-bg-color);
    padding-bottom: 1em;
}

.cabecalho__menu__link {
    color: white;
    background-color: var(--cor-terciaria);
    padding: 0.5em;
    border-radius: 5px;
    margin-right: 10em;
}

.rodape {
    background-color: var(--main-bg-color);
    color: var(--cor-terciaria);
    margin-right: 7em;
    margin-top: 1em;
}

.titulo-angular {
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 30px;
}

.apresentacao__conteudo__caixa {
    background-color: white;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.titulo-angular {
    margin-bottom: 1em;
}

.top {
    font-weight: 600;
}

.apresentacao__conteudo__text {
    line-height: 1.4em;
}

.texto-publi {
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .cabecalho__menu__link {
        text-decoration: none;
        border-radius: 18px;
        /* box-shadow: -1px 3px 4px #845800; */
        transition: 200ms;
        
    }
    .cabecalho__menu__link:active {
        box-shadow: none;
        transform: translateY(3px);
        transition: none;
        text-decoration: none;
    }
}

@media screen and (max-width: 1200px) {
    .cabecalho {
        padding: 5% 12%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 40px;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 6%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao-about {
        flex-direction: column-reverse;
        padding: 6%;
        gap: 80px;
    }

    .apresentacao-curriculo {
        flex-direction: column-reverse;
        gap: 80px;
        padding: 6%;
    }

    .apresentacao__conteudo-curriculo {
        width: auto;
        gap: 55px;
    }

    .apresentacao__imagem {
        width: 64%;
    }

    .apresentacao__imagem-curriculo {
        width: 64%;
    }
}

@media screen and (min-width: 1200px) {
    .cabecalho__menu__link:hover {
        text-decoration: none;
        border-radius: 18px;
        /* box-shadow: -1px 3px 4px #845800; */
        transition: 200ms;
    }
    .cabecalho__menu__link:active {
        box-shadow: none;
        transform: translateY(3px);
        transition: none;
    }
}
